{% extends 'layout.html' %}
{% block body %}

<h2>List of Music Playlists</h2>
{% for playlist in all_playlists %}
        Playlist Name: {{ playlist.playlist_name }}
        <br>
        Date Created: {{ playlist.date_created }}
        <br> 
        <form action="{{ url_for('view_playlist', playlist_id=playlist.id) }}">
            <input type=submit value="View Playlist">
        </form>
        <form action="{{ url_for('update', playlist_id=playlist.id) }}">
            <input type=submit value="Update Playlist">
        </form>
        <form action="{{ url_for('delete', playlist_id=playlist.id) }}">
            <input type=submit value="Delete Playlist">
        </form>
<h4>Songs Added</h4>
{% for song in all_songs %}
{% if song.playlist == playlist.id %}
        Song Title: {{ song.song_title }}
        <br>
        Artist Name: {{ song.artist_name }} 
        <br> 
        Genre: {{ song.genre }}
        <br>
        Release Year: {{ song.release_year }}
        <form action="{{ url_for('addsong') }}">
            <input type=submit value="Add Song">
        </form>
        <form action="{{ url_for('deletesong', song_id=song.id) }}">
            <input type=submit value="Delete Song">
        </form>
        <br>
        <br>
{% endif %}
{% endfor %}
{% endfor %}

{% endblock body %}