{% extends 'layout.html' %}
{% block body %}

<h2>Music Playlists</h2>
{% for playlist in all_playlists %}
        {{ playlist.name }}
        <br>
        {{ playlist.date_created }}
        <br> 
        <form action="{{ url_for('update') }}">
            <input type=submit value="Update Playlist">
        </form>
        <form action="{{ url_for('delete') }}">
            <input type=submit value="Delete Playlist">
        </form>
        <form action="{{ url_for('create') }}">
            <input type=submit value="Create Playlist">
        </form>
        <br>
        <br> 
{% endfor %}

<h2>Songs Added</h2>
{% for song in all_songs %}
        {{ song.song_title }}
        <br>
        {{ song.artist_name }} 
        <br> 
        <form action="{{ url_for('addsong') }}">
            <input type=submit value="Add Song">
        </form>
        <br>
        <br> 
{% endfor %} 

{% endblock body %}