<html>
    <head>
        <title>Music Playlists - {{ title }}</title>
    </head>
    <body>
        <h1>Music Playlists - {{ title }}</h1>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('create') }}">Create a Playlist</a>
        <a href="{{ url_for('update') }}">Update a Playlist</a>
        <a href="{{ url_for('delete') }}">Delete a Playlist</a>
        <a href="{{ url_for('addsong') }}">Add a Song</a>
        
        {% block body %}
        {% endblock body %}
    </body>
</html>