{% extends 'layout.html' %}
{% block body %}
<br><br>
 Playlist Name: {{ playlist.playlist_name }} 
<br>
 Date Created:  {{ playlist.date_created }}
 <br>
 {% for song in all_songs %}
 {% if song.playlist == playlist.id %}
        Song Title: {{ song.song_title }}
        <br>
        Artist Name: {{ song.artist_name }} 
        <br> 
        Genre: {{ song.genre }}
        <br>
        Release Year: {{ song.release_year }}
        <form action="{{ url_for('addsong') }}">
            <input type=submit value="Add Song">
        </form>
        <form action="{{ url_for('deletesong', song_id=song.id) }}">
            <input type=submit value="Delete Song">
        </form>
        <br>
        <br>
{% endif %}
{% endfor %}
{% endblock body %}